# Gradle
.gradle/
build/
gradle-app.setting

# Java
*.class
*.jar
!gradle/wrapper/gradle-wrapper.jar
*.war
*.ear
filter-config.txt
test.csv

# AWS SAM
.aws-sam/

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db